body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.width{
    width: 100%;
}
.orange{
    color: salmon;
}
h1{
    font-size: 50px;
}
p{
 font-size: 25px;
 color: gray;
}
a{
    font-size: 25px;
    text-decoration: none;
    background: linear-gradient( to right,orange,tomato);
    color: white;  
    padding: 20px 40px;
    border-radius: 50px;
}
.display{
    display: flex;
    justify-content: space-between ;
}
.half-width{
    width: 48%;
}
.half{
    width: 50%;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.sub-header{
    margin-bottom: 80px;
}
.about-image{
    width: 80%;
}
.about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
}
.food{
    width: 30%;
    padding: 20px ;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgb(216, 212, 212);
    border-radius: 20px;
    margin-top: 20px;
}

.food img{
    width: 100%; 
}
.header{
    text-align: center;
}
.Youtube{
    margin-top: 80px;
    width: 100%;
    padding-bottom: 70px;
}
.counter{
    box-shadow: 0 0 20px rgb(216, 212, 212);
    border-radius: 20px;
    padding: 20px 70px;
}
.footer{
    text-align: center;
    background-color: rgb(20, 20, 20);
    padding: 40px;
}
.gray{
    color: gray;
}